body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: pink;
}

.title {
    text-align: center;
    color: red;
}

.container {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.card {
    background: antiquewhite;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.form-card {
    max-width: 350px;
    background-color: antiquewhite;
}

form {
    display: flex;
    flex-direction: column;
}

input, select, textarea {
    margin-bottom: 10px;
    padding: 8px;
    color:blanchedalmond;
    font-weight: bold;
}

button {
    padding: 8px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background: black;
    color: pink;
}

button:hover {
    opacity: 0.9;
}

.event-card {
    background: #f1f5f9;
    padding: 15px;
    border-radius: 8px;
    margin-top: 10px;
    position: relative;
}

.delete-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    background: red;
    color: white;
    border-radius: 50%;
    padding: 3px 8px;
    cursor: pointer;
}

div{
    color: red;
}

